<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ログイン画面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="css/login_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://connect.facebook.net/en_US/all.js"></script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
    <script>
        externalIp = "<%= externalIp %>";
    </script>





</head>
<body onload="login_page_load()">
    <div class="login_container">
        <div class="login_wrapper">
            <div class="login_row_1 login_row">
                <img src="image/icon-top-sign-in.png">
                <p>ログイン</p>

            </div>
            <p class="login_error_message"></p>
            <form class="signin_form">
                <div class="login_row_2 login_row">
                    <div class="login_input_wrapper" style="border-bottom: 1px solid #d4d8e2">
                        <img src="image/sign-up-email-icon.jpg">
                        <input type="text" id="login_email" placeholder="メールアドレス">
                    </div>
                    <div class="login_input_wrapper">
                        <img src="image/sign-up-password-icon.jpg">
                        <input type="password" id="login_password" placeholder="パスワード">
                    </div>
                </div>
                <div class="login_row_3 login_row">
                    <input type="button" value="ログイン" id="login_btn" class="login_btn">

                </div>
            </form>
            <div class="login_row_4 login_row">
                <a href="javascript:void(0)" id="sign_in_with_facebook" class="social_login_btn" onclick="FacebookLogin()"><img src="image/facebook_icon.png" width="13"><p>FacebookのIDでログイン</p></a>
                <a href="javascript:void(0)" id="sign_in_with_google" class="social_login_btn"  onclick="GoogleLogin()"><img src="image/google_icon.png" width="20"><p>グーグルのIDでログイン</p></a>
                <a href="javascript:void(0)" id="sign_in_with_twitter" class="social_login_btn"  onclick="TwitterLogin()"><img src="image/twitter_icon.png" width="20"><p>ツイッターのIDでログイン</p></a>

            </div>

            <div class="login_row_5 login_row">
                <a class="sign_in_forgot_pass" href="javascript:void(0)">パスワードを忘れた？</a>
                <a class="create_new_account" href="/sign-up">アカウントを登録する</a>
            </div>

        </div>


    </div>


<!--<div class="login_form_wrapper">-->
    <!--<form method="POST" action="/user-login" id="login_form" class="login_form">-->
        <!--<legend>ログイン画面</legend>-->
        <!--<p class="login_error_message"></p>-->
        <!--<div class="login_row">-->
            <!--<label>メールアドレス</label>-->
            <!--<input type="text" name="email" id="login_email" class="login_input">-->
        <!--</div>-->
        <!--<div class="login_row">-->
            <!--<label>パスワード</label>-->
            <!--<input type="password" name="password" id="login_password" class="login_input">-->
        <!--</div>-->
        <!--<a href="/sign-up" class="home_signup">アカウント登録</a>-->

        <!--<input type="button" value="ログイン" id="login_btn" class="login_btn">-->

    <!--</form>-->





<!--</div>-->

</body>
<script src="https://apis.google.com/js/client:platform.js" async defer>
    function render() {
        // Additional params
        var additionalParams = {
            'theme': 'dark'
        };
        gapi.signin.render('myButton', additionalParams);
    }
</script>

</html>