<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>


</head>
<body>
<div class="login_modal_sns">
    <form method="POST" action="/chat-room" id="enter_chat_room">
        <legend>メールアドレスを入れてください</legend>
        <input type="text" name="user_name" id="user_name">
        <input type="button" value="チャット開始" id="enter_chat_btn">

    </form>




</div>

</body>
</html>