<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>チャット画面</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        user_email = "<%= user_email %>";
        user_friend_list = "<%= user_friend_list %>";
        user_conversation_list = "<%= user_conversation_list %>";
        externalIp = "<%= externalIp %>"

    </script>

</head>
<style>

</style>

<body onload="mainSpaceLoad()">
<div id="add_user_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">友達リストにユーザーを追加する</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="chat_user_list" placeholder="ユーザーのメールアドレスを入れてください。複数の場合、コマで分ける">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="add_user_list">ユーザーを追加する</button>
            </div>
        </div>

    </div>
</div>
<div class="chat_container">
    <h2 class="chat_title"><%= user_email %></h2>
    <a class="logout_button" href="/logout">ログアウト</a>
    <div class="chat_wrapper">
        <div class="user_chat_list">
            <div class="user_chat_list_block">
                <h4>友達一覧</h4>
                <ul class="user_friend_list">


                </ul>
            </div>

            <div class="user_chat_list_block">
                <h4>会話一覧</h4>
                <ul class="user_conversation_list">


                </ul>
            </div>

        </div>


    </div>
    <div class="chat_screen_area">




    </div>
    <!--<div class="send_message_wrapper">-->
        <!--<input type="text" class="message_text" name="message_text" placeholder="メッセージを入れてください。">-->
        <!--<input type="hidden" value="">-->
        <!--<button id="send_message">送信</button>-->
    <!--</div>-->
    <a href="javascript:void(0)" onclick="addUserList()" class="create_chat_icon"><img src="image/new_chat_icon.png"></a>

</div>

</body>
</html>