<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>アカウント登録</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="css/login_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        externalIp = "<%= externalIp %>"
    </script>



</head>
<body onload="login_page_load()">
<div class="login_container">
    <div class="login_wrapper">
        <div class="login_row_1 login_row">
            <img src="image/top-icon-sign-up.png">
            <p>アカウント登録</p>

        </div>
        <p class="signup_error_message login_error_message"></p>
        <form class="signup_form">
            <div class="login_row_2 login_row">
                <div class="login_input_wrapper" style="border-bottom: 1px solid #d4d8e2">
                    <img src="image/sign-up-email-icon.jpg">
                    <input type="text" id="signup_email" placeholder="メールアドレス">
                </div>
                <div class="login_input_wrapper" style="border-bottom: 1px solid #d4d8e2">
                    <img src="image/sign-up-password-icon.jpg">
                    <input type="password" id="signup_password" placeholder="パスワード">
                </div>
                <div class="login_input_wrapper">
                    <img src="image/sign-up-password-icon.jpg">
                    <input type="password" id="signup_password_again" placeholder="パスワード再入力">
                </div>
            </div>
            <div class="login_row_3 login_row">
                <input type="button" value="アカウント登録" id="signup_btn" class="login_btn">

            </div>
        </form>

        <div class="login_row_5 login_row">
            <a class="signup_screen_login" href="/">既に会員の方はこちにログインできます。</a>
        </div>

    </div>


</div>


</body>
</html>