<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>アカウント登録</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        externalIp = "<%= externalIp %>"
    </script>


</head>
<body>
<div class="login_form_wrapper">
    <form method="POST" action="/do-sign-up" id="signup_form" class="login_form">
        <legend>アカウント登録</legend>
        <p class="signup_error_message"></p>
        <div class="login_row">
            <label>メールアドレス</label>
            <input type="text" name="email" id="signup_email" class="login_input">
        </div>
        <div class="login_row">
            <label>パスワード</label>
            <input type="password" name="password" id="signup_password" class="login_input">
        </div>

        <div class="login_row">
            <label>パスワード再入力</label>
            <input type="password" name="password_again" id="signup_password_again" class="login_input">
        </div>

        <input type="button" value="アカウント登録" id="signup_btn" class="login_btn">

    </form>




</div>

</body>
</html>