<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>LINE TEST</title>
</head>
<body style='font-family:メイリオ, Meiryo, arial, sans-serif;'>
                <div style='margin: 0px; padding: 0px; min-height: 100%; line-height: 150%; font-size: 16px; width: 100% ! important; color: rgb(86, 90, 92); background-color: rgb(247, 247, 247);'>
                    <table style='margin:0;padding:0;line-height:150%;border-spacing:0;width:100%;background-color:#ffffff!important;background:#ffffff!important'>
                        <tbody>
                            <tr style='margin:0;padding:0;'>
                                <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:none!important'>
                                    <div style='margin:0;padding:0;text-align:center;color:#ffffff;background-color:#ff5a5f'>
                                        <div style='margin:0;padding:0;'>
                                            <table width='100%' cellspacing='0' cellpadding='0' style='margin:0;padding:0;line-height:150%;border-spacing:0;padding-bottom:18.75px;padding-top:18.75px'>
                                                <tbody>
                                                    <tr style='margin:0;padding:0;'>
                                                        <td valign='top' align='center' style='margin:0;padding:0;'>
                                                            <a id="blink_img" target='_blank' style='margin:0;padding:0;color:#ff5a5f;text-decoration:none' title='Airbnb' href='https://stours-service.appspot.com'>
                                                                <img class='CToWUd' width='71' border='0' style='margin:0;padding:0;max-width:100%;border:0;margin:0;display:block' alt='Airbnb' src='http://stours-service.appspot.com/images/logo-workmee-home.png'>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div align='center' style='margin:0;padding:0;' width='50%'> </div>
                                            <div style='margin:0;padding:0;padding-bottom:37.5px;padding-top:37.5px'>
                                                <h1 style=';font-weight:bold;padding-bottom:10px;font-size:40px;line-height:48px;padding:0;margin:0;letter-spacing:-1px;color:#ffffff'>
                                                    NHUTTH TEST
                                                    <br style='margin:0;padding:0;'>
                                                    Expected date is
                                                </h1>
                                            </div>
                                        </div>
                                        <div style=';padding:15px;max-width:600px;margin:0 auto;display:block;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px'>
                                            <table style='margin:0;padding:0;line-height:150%;border-spacing:0;padding-top:56.25px;width:100%'>
                                                <tbody style='margin:0;padding:0;'>
                                                    <tr style='margin:0;padding:0;'>
                                                        <td valign='top' style='margin:0;padding:0;'>
                                                            <div style='margin:0;padding:0;margin-bottom:31.25px'>
                                                                <p>Plese confirm the reservation before </p>
                                                                <div style="text-align: center;margin-top: 30px;margin-bottom: 40px;">
                                                                  <a href="" style="margin:0;border-radius:2px;padding:10px 16px;text-decoration:none;border:1px solid;text-align:center;vertical-align:middle;font-weight:bold;white-space:nowrap;border-color:#007a87;background-color:#007a87;color:#ffffff;border-top-width:1px;display:inline-block;padding-left:40px;padding-right:40px">Confirm Reservation</a>
                                                                </div>

                                                            </div>
                                                            <div style='margin:0;padding:0;margin-bottom:31.25px'>
                                                                Let send the welcome message to
                                                            </div>
                                                            <div style='margin:0;padding:0;'>
                                                                <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                    <tbody>
                                                                        <tr style='margin:0;padding:0;'>
                                                                            <td style='margin:0;padding:0;'></td>
                                                                            <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                                <div style='margin:0;padding:0;'>
                                                                                    <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                                        <tbody>
                                                                                            <tr style='margin:0;padding:0;'>
                                                                                                <td style='margin:0;padding:0;'></td>
                                                                                                <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                                                    <div style='margin:0;padding:0;margin-bottom:12.5px'>
                                                                                                        <span style='margin:0;padding:0;font-size:22px;font-weight:bold'> Guest </span>
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td style='margin:0;padding:0;'></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                <div style='margin:0;padding-left:15px;border-bottom-width:1px;padding-bottom:15px;margin-bottom:12.5px;border-top-width:0;padding-top:15px;background-color:#ffffff;border-style:solid;border-color:#dbdbdb;border-left-width:1px;border-right-width:1px;padding-right:15px;padding:0!important;border-width:0px;background-color:#ffffff'>
                                                                                    <table style='margin:0;padding:0;line-height:150%;margin-top:6.25px;width:100%;border-spacing:0'>
                                                                                        <tbody>
                                                                                            <tr style='margin:0;padding:0;'>
                                                                                                <td style='margin:0;padding:0;width:78px;line-height:0;padding-right:15px;padding-right:10px'>
                                                                                                    <img class='CToWUd' width='68' style='margin:0;padding:0;max-width:100%;border-radius:2px;border-radius:34px' src=''>
                                                                                                </td>
                                                                                                <td style='margin:0;padding:0;'>
                                                                                                    <strong style='margin:0;padding:0;'></strong>
                                                                                                    <br style='margin:0;padding:0;'>

                                                                                                    <br style='margin:0;padding:0;'>
                                                                                                    Validated Online ID:  item(s)• Validated Offline ID:  item(s) •Review(s)
                                                                                                    <br style='margin:0;padding:0;'>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                                <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                                    <tbody>
                                                                                        <tr style='margin:0;padding:0;'>
                                                                                            <td style='margin:0;padding:0;'></td>
                                                                                            <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                                                <div style='margin:0;padding:0;margin-top:31.25px;margin-bottom:43.75px;text-align:center'>
                                                                                                    <a target='_blank' style='margin:0;border-radius:2px;padding:10px 16px;text-decoration:none;border:1px solid;text-align:center;vertical-align:middle;font-weight:bold;white-space:nowrap;background:#ffffff;border-color:#007a87;background-color:#007a87;color:#ffffff;border-top-width:1px;display:inline-block;padding-left:40px;padding-right:40px' href=''> Send message to</a>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td style='margin:0;padding:0;'></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <hr style='margin:0;padding:0;background-color:#dbdbdb;min-height:1px;border:none'>
                                                                                <hr style='margin:0;padding:0;background-color:#dbdbdb;min-height:1px;border:none'>
                                                                                <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                                    <tbody>
                                                                                        <tr style='margin:0;padding:0;'>
                                                                                            <td style='margin:0;padding:0;'></td>
                                                                                            <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                                                <div style='margin:0;padding:0;margin-bottom:31.25px;margin-top:43.75px'>
                                                                                                    <span style='margin:0;padding:0;font-size:22px;font-weight:bold'> </span>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td style='margin:0;padding:0;'></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                                    <tbody>
                                                                                        <tr style='margin:0;padding:0;'>
                                                                                            <td style='margin:0;padding:0;'></td>
                                                                                            <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                                                <div style='margin:0;padding:0;margin-bottom:31.25px'>
                                                                                                    <a target='_blank' style='margin:0;padding:0;color:#ff5a5f;text-decoration:none' href=''>
                                                                                                        <span style='margin:0;padding:0;text-align:center'>
                                                                                                            <img class='CToWUd' style='margin:0;padding:0;max-width:100%;border:0;width: 100%' src=''>
                                                                                                        </span>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td style='margin:0;padding:0;'></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table style='margin:0;padding:0;line-height:150%;border-spacing:0;margin-bottom:12.5px;width:100%'>
                                                                                    <tbody style='margin:0;padding:0;'>
                                                                                        <tr style='margin:0;padding:0;'>
                                                                                            <td style='margin:0;padding:0;width:300px;float:left'>
                                                                                                <h2 style='margin:0;padding:0;font-weight:bold;font-size:24px;line-height:28px;padding-bottom:10px'> Reservation </h2>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr style='margin:0;padding:0;'>
                                                                                            <td style='margin:0;padding:0;width:300px;float:left;margin-top:25px' colspan='2'>
                                                                                                <span style='margin:0;padding:0;'> Confirmation Code </span>
                                                                                                <p style='margin:0;padding:0;margin-top:6.25px;color:#565a5c;font-weight:bold'>  </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr style='margin:0;padding:0;vertical-align:top'>
                                                                                            <td style='margin:0;padding:0;width:300px;float:left;margin-top:25px' colspan='2'>
                                                                                                <div style='margin:0;padding:0;'> Expected Date </div>
                                                                                                <div style='margin:0;padding:0;color:#565a5c;font-weight:bold;text-align:left'>  </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr style='margin:0;padding:0;'>
                                                                                            <td style='margin:0;padding:0;width:300px;float:left;margin-top:25px' colspan='2'>
                                                                                                <span style='margin:0;padding:0;'> Weight </span>
                                                                                                <p style='margin:0;padding:0;margin-top:6.25px;color:#565a5c;font-weight:bold'> Kg </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                                    <tbody>
                                                                                        <tr style='margin:0;padding:0;'>
                                                                                            <td style='margin:0;padding:0;'></td>
                                                                                            <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                                                <div style='margin:0;padding:0;margin-bottom:43.75px'>
                                                                                                    <a target='_blank' style='margin:0;padding:0;color:#ff5a5f;text-decoration:none' href=''> View Reservation detail </a>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td style='margin:0;padding:0;'></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <hr style='margin:0;padding:0;background-color:#dbdbdb;min-height:1px;border:none'>
                                                                            </div>
                                                                        </td>
                                                                        <td style='margin:0;padding:0;'></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                <tbody>
                                                                    <tr style='margin:0;padding:0;'>
                                                                        <td style='margin:0;padding:0;'></td>
                                                                        <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                            <div style='margin:0;padding:0;margin-bottom:31.25px;margin-top:43.75px'>
                                                                                <span style='margin:0;padding:0;font-size:22px;font-weight:bold'> Payout </span>
                                                                            </div>
                                                                        </td>
                                                                        <td style='margin:0;padding:0;'></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style='margin:0;padding:0;line-height:150%;border-spacing:0;margin-bottom:18.75px;width:100%'>
                                                                <tbody style='margin:0;padding:0;'>
                                                                    <tr style='margin:0;padding:0;'>
                                                                        <td style='margin:0;padding:0;text-align:left'>  kg </td>
                                                                        <td style='margin:0;padding:0;text-align:right'> </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style='margin:0;padding:0;line-height:150%;border-spacing:0;margin-bottom:18.75px;width:100%'>
                                                                <tbody>
                                                                    <tr style='margin:0;padding:0;'>
                                                                        <td style='margin:0;padding:0;text-align:left'> Initial fee </td>
                                                                        <td style='margin:0;padding:0;text-align:right'>  </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style='margin:0;padding:0;line-height:150%;border-spacing:0;font-weight:bold;margin-bottom:18.75px;color:#565a5c;width:100%'>
                                                                <tbody>
                                                                    <tr style='margin:0;padding:0;'>
                                                                        <td style='margin:0;padding:0;text-align:left'> WorkMee fee </td>
                                                                        <td style='margin:0;padding:0;text-align:right'> </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <hr style='margin:0;padding:0;background-color:#dbdbdb;min-height:1px;border:none'>
                                                            <hr style='margin:0;padding:0;background-color:#dbdbdb;min-height:1px;border:none'>
                                                            <table style='margin:0;padding:0;line-height:150%;border-spacing:0;font-weight:bold;margin-top:18.75px;color:#565a5c;width:100%'>
                                                                <tbody>
                                                                    <tr style='margin:0;padding:0;'>
                                                                        <td style='margin:0;padding:0;text-align:left'> Total </td>
                                                                        <td style='margin:0;padding:0;text-align:right'>  </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                <tbody>
                                                                    <tr style='margin:0;padding:0;'>
                                                                        <td style='margin:0;padding:0;'></td>
                                                                        <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                            <div style='margin:0;padding:0;margin-top:31.25px;margin-bottom:43.75px'>
                                                                            The guest's payment would be transferred to your account the day after expected date. Please see  "Payment history" for more detail.

                                                                            </div>
                                                                        </td>
                                                                        <td style='margin:0;padding:0;'></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <hr style='margin:0;padding:0;background-color:#dbdbdb;min-height:1px;border:none'>
                                                            <div style='margin:0;padding:0;margin-bottom:43.75px;margin-top:43.75px'>
                                                                <div style='margin:0;padding:0;'>
                                                                    <div style='margin:0;padding:0;margin-bottom:31.25px;margin-top:31.25px'>
                                                                        <span style='margin:0;padding:0;font-size:22px;font-weight:bold'> Preparations for welcoming  </span>
                                                                        <div style='margin:0;padding:0;margin-top:31.25px'>
                                                                            <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                                <tbody>
                                                                                    <tr style='margin:0;padding:0;'>
                                                                                        <td style='margin:0;padding:0;'></td>
                                                                                        <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                                            <div style='margin:0;padding:0;'>
                                                                                                <div style='margin:0;padding:0;float:left;width:22%;text-align:left'>
                                                                                                    <a target='_blank' style='margin:0;padding:0;color:#ff5a5f;text-decoration:none' title='' href=''>
                                                                                                        <img class='CToWUd' width='112' style='margin:0;padding:0;max-width:100%;border:0' src='http://stours-service.appspot.com/images/paper.png'>
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div style='margin:0;padding:0;float:left;width:78%'>
                                                                                                    <table style='margin:0;line-height:150%;height:112px;vertical-align:middle;border-spacing:0;padding:0 5px;width:100%'>
                                                                                                        <tbody style='margin:0;padding:0;'>
                                                                                                            <tr style='margin:0;padding:0;'>
                                                                                                                <td style='margin:0;text-align:left;padding:15px'>
                                                                                                                    <span style='margin:0;padding:0;font-size:22px;font-weight:bold'>Fill the direction</span>
                                                                                                                    <p style='margin:0;padding:0;margin-top:6.25px'>Let explain customer the direction to your shop. </p>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td style='margin:0;padding:0;'></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div style='margin:0;padding:0;margin-bottom:31.25px;margin-top:31.25px'>
                                                                        <div style='margin:0;padding:0;margin-top:31.25px'>
                                                                            <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                                                <tbody>
                                                                                    <tr style='margin:0;padding:0;'>
                                                                                        <td style='margin:0;padding:0;'></td>
                                                                                        <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                                                            <div style='margin:0;padding:0;'>
                                                                                                <div style='margin:0;padding:0;float:left;width:22%;text-align:left'>
                                                                                                    <a target='_blank' style='margin:0;padding:0;color:#ff5a5f;text-decoration:none' href=''>
                                                                                                        <img class='CToWUd' width='112' style='margin:0;padding:0;max-width:100%;border:0' src='http://stours-service.appspot.com/images/broom.png'>
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div style='margin:0;padding:0;float:left;width:78%'>
                                                                                                    <table style='margin:0;line-height:150%;height:112px;vertical-align:middle;border-spacing:0;padding:0 5px;width:100%'>
                                                                                                        <tbody style='margin:0;padding:0;'>
                                                                                                            <tr style='margin:0;padding:0;'>
                                                                                                                <td style='margin:0;text-align:left;padding:15px'>
                                                                                                                    <span style='margin:0;padding:0;font-size:22px;font-weight:bold'>整理整頓</span>
                                                                                                                        <p style='margin:0;padding:0;margin-top:6.25px'>
                                                                                                                        共用スペースは全部お掃除。
                                                                                                                        <wbr></wbr>
                                                                                                                        ゲスト用に洗いたてのシーツ類とタオルもお出ししましょう。
                                                                                                                        </p>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td style='margin:0;padding:0;'></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr style='margin:0;padding:0;background-color:#dbdbdb;min-height:1px;border:none'>
                                                            <div style='margin:0;padding:0;margin-bottom:31.25px;margin-top:43.75px'>
                                                                <span style='margin:0;padding:0;font-size:22px;font-weight:bold'>Customer Service</span>
                                                            </div>
                                                            <div style='margin:0;padding:0;'>
                                                                <a target='_blank' style='margin:0;padding:0;color:#ff5a5f;text-decoration:none' href='https://www.airbnb.jp/help?eluid=8&euid=11599cb9-0b04-be12-0244-c4e1207b0079'>Help Center</a>
                                                            </div>
                                                            <div style='margin:0;padding:0;color:#eeeeee;font-size:1px;min-height:1px;line-height:1px'>2016-03-14 02:47:09 +0000</div>
                                                            </div>
                                                            <br style='margin:0;padding:0;'>
                                                            <br style='margin:0;padding:0;'>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td style='margin:0;padding:0;'></td>
                                </tr>
                            <tr>
                                <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                    <div style='margin:0;padding:0;'>
                                        <div style='padding:15px;max-width:600px;margin:0 auto;display:block;padding-right:5px;padding-bottom:5px;padding-top:0px;color:#9ca299;font-size:14px;text-align:center;padding-left:5px'>
                                            <table cellpadding='10' style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%;padding:10px;Margin:auto'>
                                                <tbody>
                                                    <tr style='margin:0;padding:0;'>
                                                        <td align='center' style='margin:0;padding:0;'>
                                                            <table cellpadding='5' style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%;width:auto'>
                                                                <tbody>
                                                                    <tr style='margin:0;padding:0;'>
                                                                        <td style='margin:0;padding:5px'>
                                                                            <a href="" style="padding: 10px;"><img src=""></a>
                                                                        </td>
                                                                        <td style='margin:0;padding:5px'>
                                                                            <a href="" style="padding: 10px;"><img src=""></a>
                                                                        </td>
                                                                        <td style='margin:0;padding:5px'>
                                                                            <a href="" style="padding: 10px;"><img src=""></a>
                                                                        </td>
                                                                        <td style='margin:0;padding:5px'>
                                                                            <a href="" style="padding: 10px;"><img src=""></a>
                                                                        </td>
                                                                        <td style='margin:0;padding:5px'>
                                                                            <a href="" style="padding: 10px;"><img src=""></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table style='margin:0;padding:0;border-spacing:0;line-height:150%;width:100%'>
                                                <tbody>
                                                    <tr style='margin:0;padding:0;'>
                                                        <td style='padding:0;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important'>
                                                            <a href="" style="color: #9ca299;font-size: 17px;text-align: center;width: 100%;float: left;">Email preferences</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br style='margin:0;padding:0;'>
                                            <br style='margin:0;padding:0;'>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </body>
</html>