body{
    padding: 0px!important;
    margin: 0px!important;
}

.login_form_wrapper {
    float: left;
    width: 100%;
}

.login_form {
    float: left;
    width: 40%;
    margin-left: 30%;
}

.login_form legend {
    border: none;
    text-align: center;
}

.login_row {
    float: left;
    width: 100%;

    margin-bottom: 10px;
}

.login_row label {
    float: left;
    width: 30%;
    padding-top: 10px;
}

.login_row .login_input {
    width: 70%;
    padding: 5px;
}

.login_btn {
    float: right;
    margin-top: 10px;
    padding: 10px;
}

.home_signup {
    float: left;
    color: red;
}


.chat_container {
    float: left;
    width: 100%;
}

.chat_title {
    float: left;
    width: 100%;
    text-align: center;
}

.chat_wrapper {
    float: left;
    width: 100%;
    background: lightgray;
    overflow: scroll;
    height: 740px;
}

.send_message_wrapper {
    float: left;
    width: 100%;
}

.message_text {
    float: left;
    width: 100%;
    padding: 5px;
    outline: 0;
    border: 1px solid #d7d7d7;
}

.send_message_wrapper button {
    float: left;
    width: 6%;
    margin-left: 1%;
    padding: 12px;
}



.create_chat_icon {
    position: absolute;
    right: 30px;
    top: 100px;
}

.create_chat_icon img {
    width: 50px;
}

#chat_user_list {
    width: 100%;
    padding: 10px;
}

.modal-header{
    border: none;
}

.modal-footer {
    border: none;
}


.user_chat_list {
    float: left;
    background: red;
    margin: 10px 0px 0px 10px;
    padding: 10px;
    width: 250px;
}

.user_chat_list_block {
    float: left;
    background: white;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.user_chat_list_block h4 {
    float: left;
    width: 100%;
    text-align: center;
}

.user_friend_list {
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    height: 250px;
    overflow-x: scroll;
}

.user_friend_list li {
    line-height: 30px;
}

.user_conversation_list {
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    height: 250px;
    overflow-x: scroll;

}

.chat_screen_area {
    width: 95%;
    height: 350px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}


.chat_screen_detail {
    float: right;
    width: 300px;
    height:350px;
    background: white;
    margin-right: 10px;
    border: 1px solid #d7d7d7;
}

.chat_screen_header {
    float: left;
    width: 100%;
    background: black;
}

.chat_screen_friend {
    color: white;
    float: left;
    width: 90%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.close_chat_screen {
    float: right;
    padding: 5px;
    margin-right: 2%;
    color: white;
}

.chat_screen_body {
    float: left;
    width: 100%;
    height: 275px;
    padding: 5px;
    overflow-y: scroll;
}

.chat_screen_footer {
    float: left;
    width: 100%;
    background: pink;
}

.logout_button {
    float: right;
    margin: 0px 10px 10px 0px;
}